<div class="container">
  <div> 
    <h1 class="display-4">Event MarketPlace</h1>
    <p class="lead">Get your Event Sources</p>
  </div>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Event Topic List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let topic of topics; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTopic(topic, i)"
        >
          {{ topic.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTopics()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTopic">
        <h4>Topic Info</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTopic.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentTopic.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentTopic.subscription ? "Subscribed the Topic" : "Pending Avaliability" }}
        </div>
  
        <a class="badge badge-warning" href="/topics/{{ currentTopic.id }}">
          Edit Topic
        </a>
      </div>
  
      <div *ngIf="!currentTopic">
        <br />
        <p>Please click on a Topic to see info...</p>
        <h6>Information about features and subscription</h6>
      </div>
    </div>
  </div>

</div>




