<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">User Activity</h1>
        <p class="lead">Brief your works here.....</p>
    </div>
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item"><a href="/tutorials">+ Create Event</a></li>
                <li class="list-group-item"><a href="/topics">% View Event Sources</a></li>
                <li class="list-group-item">$ Subscribe Events</li>
            </ul>
        </div>
    </div>
    
</div>