<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">EGA99 Solution For Event Grid Architecture</h1>
          <p class="lead">Brief your workflow</p>
    </div>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h6>Add Events</h6>
            <img src="../../assets/img1.png" alt="" style="height: 70px; width: 70px;">
          </div>
          <div class="col-sm">
            <h6>Subscribe Events</h6>
            <img src="../../assets/img2.png" alt="" style="height: 70px; width: 70px;">
          </div>
          <div class="col-sm">
            <h6>Add Triggers</h6>
            <img src="../../assets/img3.png" alt="" style="height: 70px; width: 70px;">
          </div>
          <div class="col-sm">
            <h6>Logic Apps</h6>
            <img src="../../assets/img4.jpg" alt="" style="height: 70px; width: 70px;">
          </div>
          <div class="col-sm">
            <h6>Event Grids</h6>
            <img src="../../assets/img6.png" alt="" style="height: 70px; width: 100px;">
          </div>
        </div>
      </div>
      <br>
      <div style="height: 30px;"></div>
        <div class="container">
          <h2>What is the Event Grid?</h2>
          <p>Azure Event Grid allows you to easily build applications with event-based architectures. First, select the Azure resource you would like to subscribe to, and then give the event handler or WebHook endpoint to send the event to. Event Grid has built-in support for events coming from Azure services, like storage blobs and resource groups. Event Grid also has support for your own events, using custom topics.

            You can use filters to route specific events to different endpoints, multicast to multiple endpoints, and make sure your events are reliably delivered.
            
            Azure Event Grid is deployed to maximize availability by natively spreading across multiple fault domains in every region, and across availability zones (in regions that support them). For a list of regions that are supported by Event Grid, see Products available by region.
            
            This article provides an overview of Azure Event Grid. If you want to get started with Event Grid, see Create and route custom events with Azure Event Grid.</p>
        </div>
        <div class="container">
          <h3>What Can I do from the Event Grid?</h3>
          <p>Azure Event Grid provides several features that vastly improve serverless, ops automation, and integration work:</p>
          <h5>
            Serverless application architectures
          </h5>
          <p>Event Grid connects data sources and event handlers. For example, use Event Grid to trigger a serverless function that analyzes images when added to a blob storage container.</p>
          <h5>Ops Automation</h5>
          <p>Event Grid allows you to speed automation and simplify policy enforcement. For example, use Event Grid to notify Azure Automation when a virtual machine or SQL database is created. Use the events to automatically check that service configurations are compliant,
             put metadata into operations tools, tag virtual machines, or file work items.</p>
          <h5>Application integration</h5>
          <p>Event Grid connects your app with other services. For example, create a custom topic to send your app's event data to Event Grid, and take advantage of its reliable delivery, advanced routing, and direct integration with Azure. Or, 
            you can use Event Grid with Logic Apps to process data anywhere, without writing code.</p>
        </div>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h3 class="display-4">Get Started</h3>
          <button type="button" class="btn btn-outline-dark btn-lg"> <a href="/dashboard" >Start Here</a></button>
        </div>
        <div class="container">
          <br>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Sevices</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Navigate</a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Tools</a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Help+Support</a>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h4>Our Features</h4>
                <ul>
                  <li>Virtual Machine</li>
                  <li>App Services</li>
                  <li>Storage Accounts</li>
                  <li>SQL Database</li>
                  <li>Cosmos DB</li>
                  <li>Kubernetes Services</li>
                  <li>Function App</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h4>Naviagte</h4>
                <ul>
                  <li>Subscriptions</li>
                  <li>Resource Groups</li>
                  <li>Dashboard</li>
                  <li>All Resources</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h4>Tools & Technology</h4>

              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h4>Help+Suppport</h4>
              </div>
            </div>
          </div>
        </div>
  </div>
  <!-- Footer Section -->
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
  </footer>
</div>